.homeVisits-image{
    height: 60vh;
    width: 97vw;
    background-size: contain;

}

.homeVisitsContainerContents{
    font-family: 'Sathoshi', sans-serif;
    margin-top: 60px;
    display: flex;
    flex-direction: column;

}

.ourActivitiesHeading{
    text-align: left;
    padding-left: 50px;
    font-size: 56px;

}

.listStyleItemHomeVisits{
    display: flex;
    padding: 25px;
    align-items: center;

    width: 100%;
}

.arrangeHomeVistsArrange{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.subHeadingHomeVisits{
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    width: 90%;
}

.homeVisitsHeading{
    color: #000;
text-align: left;
font-family: 'Sathoshi', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 52px; /* 92.857% */
letter-spacing: 0.1px;
padding-left: 50px;
margin-top: 65px;
}

.homeVisitsPara{
    text-align: left;
    
font-family: 'Sathoshi', sans-serif;
    padding: 25px;
    padding-left: 50px;
    font-size: 26px;
    margin-top: 50px;
    letter-spacing: 1px;
    
    line-height: 1.4;
    width: 95%;
}

.descriptionHomeVisits{
    color: #000;
    
font-family: 'Sathoshi', sans-serif;
font-size: 30px;
padding-left: 25px;

font-style: normal;
font-weight: 400;
line-height: 1.5; /* 133.333% */
letter-spacing: 1px;
text-align: left;


}
.descriptionHomeVisitsContainer{
    margin-top: 100px;
    padding: 15px;
}

.arrangeInCenter{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    margin-top: 50px;
}

.CarouselHomeVisitsContainer{
    margin-top: 50px;
    padding-bottom: 50px;
    background: #BFC8E7;
    padding: 24px;
}

.photoGalleryHeading{
    font-size: 16px;
}

@media screen and (min-width: 786px) {
    .photoGalleryHeading{
        font-size: 42px;
    }
}
@media screen and (max-width: 768px) {
    .homeVisitsHeading{
        text-align:center;
        margin-top: 20px;
    }
    .arrangeHomeVistsArrange{
        margin-top: 5px;
    }
    
    .homeVisitsPara{
        font-size: 16px;
        width: 90%;
        align-self: center;
        line-height: 1.4;
        padding-left: 50px;
        margin-top: 0px;
    }
    .homeVisitsContainerContents{
        margin-top: 40px;
    }
    .ourActivitiesHeading{
        text-align: center;
        padding-left: 0px;
    }
    .listStyleItemHomeVisits{
        justify-content: center;
        padding-left: 0px;
        width: 100%;
    }
    .subHeadingHomeVisits{
        font-size: 16px;
    }

    .arrangeInCenter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        padding-left: 50px;
    }

    .descriptionHomeVisitsContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 0px;
        width: 99%;
    }

    .descriptionHomeVisits{
        width: 85%;
        font-size: 16px;
    }

    .ourActivitiesHeading{
        font-size: 32px;
    }
    .descriptionHomeVisitsContainer{
        margin-top: 50px;
    }
    .homeVisitsHeading{
        font-size: 32px;
    }
    
    .homeVisitsContainerContents{
        margin-top: 0px;
    }
}

