*{
    font-family: 'Sathoshi', sans-serif;
}

.homeVisits-image{
    height: 60vh;
    width: 100vw;
    background-size: contain;

}

.homeVisitsContainerContents{
    font-family: 'Sathoshi', sans-serif;
    margin-top: 60px;
    display: flex;
    flex-direction: column;

}

.ourActivitiesHeading{
    text-align: left;
    padding-left: 50px;
    font-size: 56px;

}

.listStyleItemHomeVisits{
    display: flex;
    padding: 25px;
    align-items: center;

    width: 100%;
}

.arrangeHomeVistsArrange{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.subHeadingHomeVisits{
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    width: 90%;
}

.homeVisitsHeading{
    color: #000;
text-align: left;
font-family: 'Sathoshi', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 52px; /* 92.857% */
letter-spacing: 0.1px;
padding-left: 50px;
margin-top: 65px;
}

.homeVisitsPara{
    text-align: left;
    
font-family: 'Sathoshi', sans-serif;
    padding: 25px;
    padding-left: 50px;
    font-size: 26px;
    margin-top: 50px;
    letter-spacing: 1px;
    
    line-height: 1.4;
    width: 95%;
}

.descriptionHomeVisits{
    color: #000;
    
font-family: 'Sathoshi', sans-serif;
font-size: 30px;
padding-left: 25px;

font-style: normal;
font-weight: 400;
line-height: 1.5; /* 133.333% */
letter-spacing: 1px;
text-align: left;


}
.descriptionHomeVisitsContainer{
    margin-top: 100px;
    padding: 15px;
}

.arrangeInCenter{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    margin-top: 50px;
}

.CarouselHomeVisitsContainer{
    margin-top: 50px;
    padding-bottom: 50px;
    background: #BFC8E7;
    padding: 24px;
}

.photoGalleryHeading{
    font-size: 16px;
}

.projectLeaderContainerHomeVisits{
    width: 100%;
    background-color: #F0ECE9;
    display: flex;
}

.leaderHomeVisitsImage{
    width: 180px;
    height: 200px;
    border-radius: 10px;
}

.mainLeaderContainer{
    display: flex;
    background-color: #F1F5F9;
    border: 1px black solid;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

.leaderHomeVisitsTextContents{
    margin-left: 20px;
}
.projectLeaderHomeVisits{
    width: 40%;
    align-self: center;
}

.nameLeaderHeadingHomeVisits{
    color: #2E4049;
    text-align: left;
    font-size: 26px;
    margin-bottom: 10px;
    font-family: 'Sathoshi', sans-serif;
}

.horizontalLineHomeVisits{
    border: 1px solid black;
}

.roleLeaderHomeVisits{
    color: #727272;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}

.leaderHeadingHomeVisits{
    text-align: left;
    margin-left: 20px;
}

.descriptionLeaderHomeVisits{
    color: #727272;
    font-size: 18px;
    text-align: left;
}

.volunteerHomeVisitsImage{
    width: 180px;
    height: 150px;
    align-self: center;
    margin-left: 10px;
    border-radius: 10px;
}

.volunteerContainerHomeVisits{
    background-color: #F1F5F9;
    border-radius: 20px;
    padding: 20px;
    display: flex;

    width: 40%;
    margin: 10px;
}

.arrangeHomeVisitsVolunteer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.volunteerHomeVisitsMainContainer{
    width: 60%;
    padding: 20px;
}

.volunteerMainHeadingHomeVisits{
    color: #2E4049;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.volunteerTextContentsHomeVisits{
    margin-left: 10px;
    padding: 10px;
}

.volunteerSubHeadingHomeVisits{
    text-align: left;
    color: #727272;
    margin-bottom: 10px;
}

.volunteerDescriptionHomeVisits{
    text-align: left;
    font-size: 14px;
}

@media screen and (min-width: 786px) {
    .photoGalleryHeading{
        font-size: 42px;
    }
}
@media screen and (max-width: 768px) {
    .homeVisitsHeading{
        text-align:center;
        margin-top: 20px;
    }
    .arrangeHomeVistsArrange{
        margin-top: 5px;
    }
    
    
    .homeVisitsPara{
        font-size: 16px;
        width: 90%;
        align-self: center;
        line-height: 1.4;
        padding-left: 50px;
        margin-top: 0px;
    }
    .homeVisitsContainerContents{
        margin-top: 40px;
    }
    .ourActivitiesHeading{
        text-align: center;
        padding-left: 0px;
    }
    .listStyleItemHomeVisits{
        justify-content: center;
        padding-left: 0px;
        width: 100%;
    }
    .subHeadingHomeVisits{
        font-size: 16px;
    }

    .arrangeInCenter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        padding-left: 50px;
    }

    .descriptionHomeVisitsContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 0px;
        width: 99%;
    }

    .descriptionHomeVisits{
        width: 85%;
        font-size: 16px;
    }

    .ourActivitiesHeading{
        font-size: 32px;
    }
    .descriptionHomeVisitsContainer{
        margin-top: 50px;
    }
    .homeVisitsHeading{
        font-size: 32px;
    }
    
    .homeVisitsContainerContents{
        margin-top: 0px;
    }
}

@media screen and (max-width: 1200px){
    .projectLeaderContainerHomeVisits{
        display: flex;
        flex-direction: column;
    }.horizontalLineHomeVisits{
        display: none;
    }
    .mainLeaderContainer{
        border: 2px solid black;
    }
    .volunteerContainerHomeVisits{
        border: 2px solid black;
    }
    .projectLeaderHomeVisits{
        width: 95%;
    }
    .nameLeaderHeadingHomeVisits{
        font-size: 16px;
    }
    .volunteerHomeVisitsMainContainer{
        padding: 0px;
        width: 100%;
    }
    .leaderHeadingHomeVisits{
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .regularVolunteerHeading{
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }
    .volunteerContainerHomeVisits{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }
    .volunteerMainHeadingHomeVisits{
        text-align: left;
    }
    .volunteerSubHeadingHomeVisits{
        text-align: left;
    }
    .volunteerTextContentsHomeVisits{
        padding: 20px;
    }
    .leaderHomeVisitsImage{
        height: 120px;
        width: 90px;
    }
    .volunteerHomeVisitsImage{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 650px){
    .volunteerContainerHomeVisits{
        width: 80%;
    }
    .volunteerHomeVisitsImage{
        height: 200px;
        width: 200px;
    }
}