.education-main-container {
  height: 100%;
}

.header-image-container {
  width: 100%;
}

.header-image {
  width: 100%;
}

.education-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 39px;
  margin-top: 50px;
}

.education-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.education-text-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 39px;
  padding-bottom: 30px;
}

.education-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 41.667% */
  letter-spacing: 0.2px;
}

@media screen and (max-width: 992px) {
  .education-text {
    font-size: 30px;
  }
}

.education-description {
  color: #000;
  text-align: justify;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
  letter-spacing: 0.2px;
}

@media screen and (max-width: 992px) {
  .education-description {
    font-size: 16px;
    line-height: 30px;
  }
}

.education-cards-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
  background-color: #ffffff;
  padding-top: 50px;
}
