/* body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.csr-partners-container {
  display: flex;
  padding-left: 87px;
  padding-right: 87px;
  padding-top: 45px;
  gap: 30px;
  justify-content: center;
}

.modal-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 22px;
  row-gap: 22px;
  justify-content: center;
  padding: 10px;
}



.csr-image1 {
  height: 80px;
  padding-top: 30px;
} */

.marquee-container {
  overflow: hidden;
  padding: 80px;
  background: #c4c4c4;
}

.marquee {
  display: flex;
  animation: marquee 30s linear infinite;
}

.marquee img {
  margin-right: 59px; /* Adjust spacing between images */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.csr-image {
  height: 120px;
}
