/* Styles for large screens */
.marquee-container {
  display: flex;
  overflow: hidden;
  padding: 0px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Adjust gap between images */
  height: 200px; /* Adjust container height */
  padding-top: 130px; /* Adjust top padding */
  padding-bottom: 100px;
}

.csr-image {
  height: 100px; /* Adjust image height */
  margin-right: 120px; /* Adjust spacing between images */
  transition: transform 0.3s ease; /* Add smooth transition effect */
}

/* Styles for small screens */
@media (max-width: 768px) {
  .marquee-container {
    padding: 10px; /* Adjust padding for smaller screens */
    height: 120px; /* Adjust container height for smaller screens */
    padding-top: 0px; /* Remove top padding for smaller screens */
  }

  .csr-image {
    height: 60px; /* Adjust image height for smaller screens */
    margin-right: 10px; /* Adjust spacing between images for smaller screens */
  }
}

.csr-image:hover {
  transform: scale(1.1);
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
