/* Styles for large screens */
.marquee-container {
  display: flex;
  overflow: hidden;
  background-color: #F1EEEC;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust container height if necessary */
  position: relative;
}
.csrPartnersHeading{
  color: black;
  background-color: #F1EEEC;
  font-size: 48px;
  padding-top: 25px;
  text-align: center;
  font-family: 'Sathoshi', sans-serif;
}

.marquee {
  display: flex;
  white-space: nowrap; /* Ensures images stay in a single line */
  animation: marquee 20s linear infinite;
}

.csr-image {
  height: 100px;
  margin-right: 30px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.csr-image:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .marquee-container {
    height: 120px;
  }

  .csr-image {
    height: 60px;
    margin-right: 10px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.csr-heading {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Satoshi";
}

@media screen and (max-width: 768px) {
  .csr-heading {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
