.video-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
   /* 16:9 aspect ratio */
  }
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .about-para{
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 1.4;
    
  }

  .about-heading{
    text-align: left;
    font-size: 30px;
  }

  .about-contents-container{
    padding: 40px;
  }

  .button-container{
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
    margin-bottom: 15px;
  }

  .button-about{
    background-color: #F2902F;
    border: none;
    color: white;
    padding: 14px;
    font-weight: bold;
    width: 130px;
    margin: 5px;
    border-radius: 12px;
    margin-right: 30px;
  }

  .about-main-heading{
    font-size: 32px;
  }

  .large-screen-video{
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    .video-container{
        display: none;
    }

    .large-screen-video{
        display: block;
        width: 100%;
    }

    .button-container{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
    }


    .arrange-video-large-screen{
        width: 100%;
        
        
    }

    .about-main-heading{
        font-size: 45px;
      }

    .about-para{
        width: 100%;
    }

    .about-heading{
        text-align: left;
    }

    .about-main-heading{
        text-align: left;
        padding-left: 20px;
    }

    .about-contents-container{
        padding: 10px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .arrange-about-us{
        display: flex;
        flex-direction: row;
        padding: 30px;
        padding-left: 200px;
        justify-content: space-between;

        text-align: center;
        
    }
  }

  @media screen and (max-width: 1600px) and (min-width: 1200px) {
    .arrange-about-us{
        padding-left: 120px;
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 768px) {
    .arrange-about-us{
        padding-left: 10px;
    }
  }
