.video-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  /* 16:9 aspect ratio */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.about-para {
  text-align: left;
  line-height: 1.6;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Sathoshi", sans-serif;
}

.about-heading {
  text-align: left;
  font-size: 30px;
}

.about-contents-container {
  width: 80%;
  padding: 40px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.button-about {
  background-color: #f2902f;
  border: none;
  color: #522222;
  padding: 14px;
  font-weight: bold;
  width: 130px;
  font-size: 15px;
  margin: 5px;
  border-radius: 8px;
  margin-right: 30px;
  cursor: pointer;
  font-family: "Sathoshi", sans-serif;
}

.about-main-heading {
  font-size: 32px;

  font-family: "Sathoshi", sans-serif;
}

.large-screen-video {
  display: none;
}

.aboutStyling {
  border: 1px solid black;
  background: transparent;
}

@media screen and (min-width: 1000px) {
  .video-container {
    display: none;
  }

  .large-screen-video {
    display: block;
    width: 100%;
  }

  .button-container {
    width: 80%;
    display: flex;
    margin-right: 10px;
    font-family: "Roboto";
  }

  .arrange-video-large-screen {
    width: 100%;
  }

  .about-main-heading {
    font-size: 45px;
  }

  .about-para {
    width: 100%;
  }

  .about-heading {
    text-align: left;
  }

  .about-main-heading {
    text-align: left;
    padding-left: 20px;
  }

  .about-contents-container {
    padding: 10px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .arrange-about-us {
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;

    text-align: center;
  }

  .large-screen-video {
    display: block;
    width: 60%;
    justify-content: center;
    justify-self: center;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
  .arrange-about-us {
    padding-left: 50px;
  }

  .large-screen-video {
    display: block;
    width: 100%;
    margin-left: 75px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .arrange-about-us {
    padding-left: 10px;
  }

  .large-screen-video {
    display: block;
    width: 100%;
    margin-left: 75px;
  }
}

@media screen and (max-width: 1000px) {
  .button-container {
    margin-left: 40px;
  }
  .about-para {
    font-size: 18px;
  }
}
