.vision-and-mission-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  gap: 78px;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .vision-and-mission-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

.our-vision-and-mission-container-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 67px;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .our-vision-and-mission-container-boxes {
    width: 100%;
    padding: 0px;
    gap: 20px;
  }
}

.our-vision-container {
  width: 100%;
  border: 1.088px solid #000;
  border-radius: 5px;
  display: flex;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .our-vision-container {
    width: 100%;
    padding: 8px;
    padding-top: 0px;
  }
}

.our-vision-heading {
  color: #222;
  text-align: center;
  font-family: "Satoshi", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 156.25% */
  text-transform: capitalize;
  align-self: flex-start;
}

@media screen and (max-width: 992px) {
  .our-vision-heading {
    font-size: 22px;
  }
}

.pledge-container {
  display: flex;
  padding: 11.966px 26.107px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26.107px;
  border: 1.088px solid #000;
  border-radius: 5px;
  width: 40%;
  margin: 0px;
}

@media screen and (max-width: 992px) {
  .pledge-container {
    width: 100%;
    padding: 0px;
  }
}

.our-vision-para {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

@media screen and (max-width: 992px) {
  .our-vision-para {
    font-size: 14px;
  }
}
