.higher-education-main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 39px;
  margin-bottom: 20px;
  width: 90%;
  margin: auto;
}

.higher-education-text {
  color: #000;
  text-align: center;
  font-family: "Satoshi";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 768px) {
  .higher-education-text {
    color: #000;
    text-align: center;
    font-family: "Satoshi";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
}

.higher-education-description {
  color: #000;
  text-align: justify;
  font-family: "Satoshi";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .higher-education-description {
    color: #000;
    text-align: justify;
    font-family: "Satoshi";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
}

.higher-programs-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 39px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .higher-programs-container {
    gap: 15px;
  }
}

.higher-education-programs-heading {
  color: #000;
  text-align: justify;
  font-family: "Satoshi";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .higher-education-programs-heading {
    font-size: 18px;
    line-height: 32px;
  }
}

.program-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  font-size: 32px;
  line-height: 1px;
}

@media screen and (max-width: 768px) {
  .program-list {
    gap: 0px;
  }
}

/* .program-item {
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 187.5% */
/* } */

li {
  color: #000;
  text-align: justify;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 187.5% */
  letter-spacing: 0.2px;
}

@media screen and (max-width: 768px) {
  li {
    font-size: 16px;
    line-height: 35px;
  }
}

.know-more-button {
  display: flex;
  width: 332px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #36b0b8;
  color: var(--color-semantic-white-100, #fff);
  text-align: center;
  font-family: "Satoshi";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  text-transform: uppercase;
  border-width: 0px;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .know-more-button {
    font-size: 12px;
    height: 35px;
    width: 25%;
  }
}

.higher-education-text-container {
  background-color: #f1eeec;
  padding: 30px;
  border-radius: 8px;
}
