.OurProjects1-card-container {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  align-items: flex-start;
  gap: 8.979px;
  background: #f1eeec;
  margin-top: 40px;
}

@media screen and (max-width: 998px) {
  .OurProjects1-card-container {
    padding: 20px 20px;
  }
}

.OurProjects1-main-heading {
  margin-bottom: 30px;
  align-self: center;
  font-size: 60px;
  font-family: "Sathoshi", sans-serif;
}

@media screen and (max-width: 998px) {
  .OurProjects1-main-heading {
    font-size: 30px;
  }
}

.OurProjects1-sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.what-we-did-card {
  display: flex;
  width: 50%;
  height: 298.097px;
  /* padding: 55.864px 69.325px 55.864px 68.652px; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6.731px;
  flex-shrink: 0;
  background: #202d33;
}

@media screen and (max-width: 998px) {
  .what-we-did-card {
    width: 100%;
    /* height: 250px; */
  }
}

/* .our-projects-education {
  background: url("/Images/ourProjectsEducation.png");
  height: 40%;
} */
.our-projects-image {
  width: 25%;
  height: 298.097px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 568px) {
  .our-projects-image {
    width: 100%;
  }
}

@media screen and (min-width: 569px) and (max-width: 998px) {
  .our-projects-image {
    width: 50%;
  }
}

.donate-card-container {
  width: 25%;
  flex-shrink: 0;
  background: #1e9ab6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 80px;
  display: flex;
}

@media screen and (max-width: 568px) {
  .donate-card-container {
    width: 100%;
  }
}

@media screen and (min-width: 569px) and (max-width: 998px) {
  .donate-card-container {
    width: 50%;
  }
}

.donate-card-text {
  color: var(--color-semantic-white-100, #fff);
  font-size: 20.192px;
  font-family: "Sathoshi", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

@media screen and (max-width: 998px) {
  .donate-card-text {
    font-size: 15px;
    /* align-self: center; */
    /* justify-content: center; */
  }
}

With this .what-we-did-card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.673px;
  margin-left: 30px;
}

.what-we-did-heading {
  color: #1e9ab6;

  font-family: "Sathoshi", sans-serif;
  font-size: 23.557px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.3%;
}

.what-we-did-description {
  font-family: "Sathoshi", sans-serif;
  color: var(--color-semantic-white-100, #fff);
  text-align: left;
  font-size: 26.922px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.our-projects1-image-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.144px;
  padding: 20.892px 21.784px;
}

@media screen and (min-width: 998px) {
  .our-projects1-image-text-container {
    opacity: 0;
    transform: translateY(100%);
    transition:
      opacity 0.3s ease,
      transform 0.7s ease;
  }
}

.our-projects1-image-heading {
  color: var(--color-semantic-white-100, #fff);

  font-family: "Sathoshi", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.our-projects1-image-button {
  display: flex;
  padding: 10.892px 21.784px;
  justify-content: center;
  align-items: center;
  gap: 6.808px;
  border-radius: 23.146px;
  background: #ff6d6d;
  border-width: 0px;
  cursor: pointer;
  color: var(--color-semantic-white-100, #fff);
  font-family: "Satoshi";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.our-projects-image:hover .our-projects1-image-text-container {
  opacity: 1;
  transform: translateY(0);
}

.ourprojectscard-link {
  text-decoration: none;
  color: inherit;
}
