.OurProjects1-card-container {
  display: flex;
  width: 100%;
  padding: 87.993px 74.524px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8.979px;
  background: #f1eeec;
}

@media screen and (max-width: 998px) {
  .OurProjects1-card-container {
    padding: 20px 20px;
  }
}

.OurProjects1-main-heading {
  margin-bottom: 30px;
  align-self: center;
  font-size: 42px;
  font-family: "Satoshi";
}

.OurProjects1-sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.what-we-did-card {
  display: flex;
  width: 50%;
  height: 298.097px;
  padding: 55.864px 69.325px 55.864px 68.652px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6.731px;
  flex-shrink: 0;
  background: #202d33;
}

@media screen and (max-width: 998px) {
  .what-we-did-card {
    width: 100%;
    height: 250px;
  }
}

/* .our-projects-education {
  background: url("/Images/ourProjectsEducation.png");
  height: 40%;
} */
.our-projects-image {
  width: 25%; /* Each container takes up 25% of the container's width */
  height: 298.097px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 998px) {
  .our-projects-image {
    width: 50%;
  }
}

.donate-card-container {
  width: 25%;
  height: 298.097px;
  flex-shrink: 0;
  background: #1e9ab6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 80px;
}

@media screen and (max-width: 998px) {
  .donate-card-container {
    width: 50%;
  }
}

.donate-card-text {
  color: var(--color-semantic-white-100, #fff);
  font-family: "Satoshi";
  font-size: 20.192px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.what-we-did-card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.673px;
}

.what-we-did-heading {
  color: #1e9ab6;
  font-family: "Satoshi";
  font-size: 23.557px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.3%; /* 25.512px */
}

.what-we-did-description {
  color: var(--color-semantic-white-100, #fff);
  font-family: "Satoshi";
  font-size: 26.922px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 32.307px */
}

.our-projects1-image-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.144px;
  padding: 20.892px 21.784px;
}

@media screen and (min-width: 998px) {
  .our-projects1-image-text-container {
    opacity: 0;
    transform: translateY(100%);
    transition:
      opacity 0.3s ease,
      transform 0.7s ease;
  }
}

.our-projects1-image-heading {
  color: var(--color-semantic-white-100, #fff);
  font-family: "Satoshi";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 18.371px */
}

.our-projects1-image-button {
  display: flex;
  padding: 10.892px 21.784px;
  justify-content: center;
  align-items: center;
  gap: 6.808px;
  border-radius: 23.146px;
  background: #ff6d6d;
  border-width: 0px;
  cursor: pointer;
  color: var(--color-semantic-white-100, #fff);
  font-family: "Satoshi";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.our-projects-image:hover .our-projects1-image-text-container {
  opacity: 1;
  transform: translateY(0);
}
