.active{
  background-color: #1d4ed8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8690b3;
  color: white;
  position: sticky;
  top: 0;
  padding: 15px;
}

.onMobileDevices{
  display: none;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}

nav ul li {
 list-style: none; 
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

/* nav ul li a:not(.active):hover {
  background-color:#172554 ;
} */

.joinWithUs{
  width: 120px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #000;
 
  background-color: transparent;

}


nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.2rem;
  width: 90%;
  background-color: #fff;
  border-radius: 0.1rem;
}

.donateStyling{
  background-color: #EF626C;
  width: 120px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}


@media (max-width: 580px) {
  nav .menu {
      display: flex;
      margin-top: 15px;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  .title{
    display: none;
  }

  .titleMobile{
    display: block;
  }

  nav ul.open {
      display: flex;
      margin: auto;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      margin-top: 10px;
  }

  .onMobileDevices{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
  }

  nav ul li {
      width: 100%;
      text-align: center;
  }

  nav ul li a {
      margin: 0.2rem 0.5rem;
  }

  .donateStyling{
    display: none;
  }

  .donateMobile{
    display: block;
    width: 100px;
  }

  .linkStyling{
    text-decoration: none;
  }

  .joinWithUs{
    width: 135px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
  }

  .mobileDonate{
    display: none;
  }
}