.active {
  background-color: #36b0b8;
}

.logoResizeHomePage {
  width: 280px;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 91px;
}

.listNav {
  font-size: 20px;
  align-self: center;
  padding-top: 10px;
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.listNav:hover {
  background-color: grey;
  border-radius: 10px;
  padding: 0px;
}

.aboutUsButtonNav {
  width: 110px;
  text-align: center;
  font-family: "Sathoshi", sans-serif;
  padding-top: 5px;
}

.onMobileDevices {
  display: none;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;

  color: #202d33;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  color: #202d33;
}

nav ul li {
  list-style: none;
  color: #202d33;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.linkStyling {
  color: #202d33;
  font-family: "Sathoshi", sans-serif;
  color: var(--color-semantic-white-100, #fff);
}

.joinWithUs {
  width: 150px;
  padding: 15px 10px;
  gap: 10px;
  color: black;
  font-family: Sathoshi;
  font-weight: 600;
  font-size: 13px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 3px;
  color: var(--color-semantic-white-100, #fff);
  font-family: "Sathoshi", sans-serif;
}

.joinWithUs:hover {
  background-color: grey;
  border: 1px solid grey;
  cursor: pointer;
}
.horizontal-line-nav-bar {
  border: 1px black solid;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

nav .menu span {
  height: 0.2rem;
  width: 90%;
  background-color: black;
  border-radius: 0.1rem;
}

.donateStyling {
  width: 150px;
  padding: 15px 10px;
  gap: 10px;
  color: white;
  font-family: "Sathoshi";
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #000;
  background-color: #fe6711;
  border-width: 0px;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Sathoshi", sans-serif;
}

.specialLink {
  font-size: 20px;
  padding: 0;
}

@media (max-width: 1170px) {
  .donateStyling {
    width: 120px;
  }
  .specialLink {
    text-align: center;
  }

  .logoResizeHomePage {
    width: 185px;
  }
}

@media (max-width: 1082px) {
  nav .menu {
    display: flex;
    align-items: center;
    z-index: 1;
    margin-right: 15px;
    margin-top: 25px;
  }

  .borderLineNav {
    border-bottom: 2px solid rgb(126, 126, 126);
  }

  .specialLink {
    padding: 8px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
  }
  .donateStyling {
    background-color: #fe6711;
    padding: 13px;
    z-index: 20;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  .listNav {
    justify-content: center;
    color: black;
  }

  .mobileDeviceLogoResize {
    width: 160px;
  }

  .title {
    display: none;
  }

  .titleMobile {
    display: block;
  }

  nav ul.open {
    display: flex;

    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: white;
    border-top: 10px solid white;
    position: relative;
    width: 100%;
    bottom: 15px;
    /* margin-top: 150px; */
  }

  .onMobileDevices {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }

  .donateStyling {
    display: none;
  }

  .donateMobile {
    display: block;
    width: 100px;
  }

  .linkStyling {
    text-decoration: none;
    padding: 6px;
    color: black;
  }

  .joinWithUs {
    width: 135px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
    color: black;
    border: 2px solid black;
  }

  .mobileDonate {
    display: none;
  }
}

@media (min-width: 992px) {
  .logoResizeHomePage {
    width: 170px;
  }
  nav {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 768px) {
  nav ul.open {
    /* margin-top: 140px; */
  }
}

@media (max-width: 400px) {
  .mobileDeviceLogoResize {
    width: 90px;
  }

  .mobileDevicesNavConatainer {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}
