.active{
  background-color: #36B0B8;
}

.logoResizeHomePage{
  width: 300px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  padding: 56px 110px;
  z-index: 1000;
  height: 56px;
}

.listNav{
  font-size: 20px;
  align-self: center;
  padding-top: 10px;
  color: #202d33;
}

.onMobileDevices{
  display: none;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  
 color: #202d33;
  
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  
 color: #202d33;
}

nav ul li {
 list-style: none; 
 color: #202d33;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.linkStyling{
  color: #202d33;
}

/* nav ul li a:not(.active):hover {
  background-color:#172554 ;
} */

.joinWithUs{
  width: 150px;
  padding: 15px 10px;
  gap: 10px;
  color: black;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
  border: 1px solid #000;
 
  background-color: transparent;

}


nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.2rem;
  width: 90%;
  background-color: black;
  border-radius: 0.1rem;
}

.donateStyling{
  width: 150px;
  padding: 15px 10px;
  gap: 10px;
  color: white;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
  border: 1px solid #000;
  background-color: #FE6711;

}


@media (max-width: 768px) {
  nav .menu {
      display: flex;
      margin-top: 15px;

  }

  nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      height: 90px;
  }
  .donateStyling{
    background-color: #FE6711;
    padding: 13px;
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  .mobileDeviceLogoResize{
    width: 160px;
  }

  .title{
    display: none;
  }

  .titleMobile{
    display: block;
  }

  nav ul.open {
      display: flex;
      /* margin: auto; */
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      background-color: white;
      border-top: 10px solid white;
      width: 100vw;
      margin-right: 10x;
  }

  .onMobileDevices{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
  }

  nav ul li {
      width: 100%;
      text-align: center;
  }

  nav ul li a {
      margin: 0.2rem 0.5rem;
  }

  .donateStyling{
    display: none;
  }

  .donateMobile{
    display: block;
    width: 100px;
  }

  .linkStyling{
    text-decoration: none;
  }

  .joinWithUs{
    width: 135px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
  }

  .mobileDonate{
    display: none;
  }
}