.arrangeCount{
    background: #D3D9EE;
}

.arrangeBgContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.impact-heading{
    text-align: left;
    margin-left: 10vw;
    padding-top: 50px;
    font-size: 40px;
}


@media screen and (max-width: 768px) {
    .arrangeBgContainer{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 50px;
    }

    .impact-heading{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}