.arrangeCount {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  height: 500px;
}

.arrangeCount::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-image: url("/public/Images/EducationBannerChildren.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.45;
  background-color: rgba(0, 0, 0, 0.6);
  mix-blend-mode: multiply;
}

.arrangeBgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}

.impact-heading {
  text-align: center;
  color: white;
  padding-top: 50px;
  font-size: 40px;
  margin: 20px 0;
  opacity: 0.9;
}

@media screen and (max-width: 1000px) {
  .arrangeBgContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
    position: relative;
    bottom: 60px;
  }

  .impact-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 0px;
  }
}
