.customCarousel1{
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("/public/Images/bookBanner.jpg");
}

.customCarousel2{
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("/public/Images/donateBanner.jpg");
}

.customCarousel3{
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("/public/Images/environmentBanner.jpg");
}

.knowMoreCarousel{
    background-color: #FFB800;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 24px;
    padding: 15px;
    margin-left: 75px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
    width: 250px;
    border-radius: 12px;

}

.carouselHeading{
    font-size: 74px;
    color: white;
    word-break: normal;
    width: 50%;
    text-align: left;
    line-height: 1.5;
    padding-left: 75px;
}

.carouselDescription{
    font-size: 24px;
    color: white;
    width: 50%;
    text-align: left;
    padding-left: 75px;
    line-height: 1.5;
}

.secondBannerHeading{
    width: 25%;
    line-height: 1.2;
    color: #FE3D33;
    padding-bottom: 25px;
}

.secondBannerSideHeading{
    color: black;
    width: 45%;
    font-size: 24px;
    line-height: 1.2;
}

.carousel3Heading{
    width: 30%;
    line-height: 1.3;
}

.carousel3SideHeading{
    width: 40%;
    margin-top: 10px;
}

.customCarouselTextContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
