.footer-main-container {
  display: flex;
  width: 100%;
  padding: var(--Spacing-none, 72px) var(--Spacing-none, 152px);
  justify-content: center;
  align-items: center;
  background: #23211f;
}

.footer-sub-container {
  display: flex;
  width: 1136px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Spacing-none, 48px);
  flex-shrink: 0;
}
