.footer-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 22px;
  background: #dfe4f3;
  justify-content: center;
  align-items: center;
  padding: 40px;
  max-width: 100%;
}
/* 
@media screen and (min-width: 576px) {
  .footer-container {
    /* flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 83px 146.5px 82px 146.5px; */
/* }
} */
*/ .footer-section-sub-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

@media screen and (min-width: 766px) {
  .footer-section-sub-container {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}

.footer-reachus-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  width: 100%;
  /* margin: auto; */
}

@media screen and (min-width: 766px) {
  .footer-reachus-section {
    align-items: flex-start;
  }
}

.footer-logo {
  /* width: 100%; */
  /* object-fit: contain; */
  height: 65.094px;
}

.footer-reachus-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

@media screen and (min-width: 766px) {
  .footer-reachus-section-text {
    align-items: flex-start;
  }
}

.reachus-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.email-section {
  display: flex;
  align-items: center;
  gap: 22px;
}

.email-logo {
  width: 30px;
  height: 30px;
}

.email-text {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 5px; /* 27.778% */
}

.horizontal-line {
  width: 100%;
  height: 0;
  border-top: 1px solid #000; /* Represents the horizontal line */
  margin-top: 22px;
  margin-bottom: 22px;
}

@media screen and (min-width: 720px) {
  .horizontal-line {
    width: 1.005px;
    height: 213.031px;
    border-top: none;
    border-left: 1px solid #000; /* Now it's a vertical line */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 22px;
    margin-right: 22px;
  }
}

.register-office-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  justify-content: center;
}

.register-office-text {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}

.register-office-address-container {
  display: flex;
  align-items: flex-start;
  gap: 17px;
}

.location-logo {
  width: 20px;
  height: 25.306px;
}

.register-office-address-text {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-align: start;
}

.follow-us-section-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
}

@media screen and (min-width: 720px) {
  .follow-us-section-container {
    width: 100%;
    flex-direction: column;
  }
}

.follow-us-section {
  display: flex;
  width: 255px;
  align-items: flex-start;
  gap: 22px;
}

.follow-us-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.follow-us-section-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.follow-us-section-sub-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .follow-us-section-sub-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

.horizontal-line1 {
  width: 100%;
  height: 0;
  border-top: 1px solid #000; /* Represents the horizontal line */
  margin-top: 22px;
}
