.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  background: #dfe4f3;
  justify-content: center;
  padding: 40px;
}

@media screen and (min-width: 576px) {
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 83px 146.5px 82px 146.5px;
  }
}

.footer-text {
  justify-content: center;
}
