.Testimonials-container {
  padding: 80px;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 40px;
}


@media (max-width: 1000px) {
  .Testimonials-container{
    display: none;
  }
}