.arrangeTestimonialsRow{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.divQuotesContainer{
  width: 80px;
  position: relative;
  right: 15px;
}

.testimonials-title-large{
  text-align: right;
}



.contentsTestimonialLarge{
  margin-left: 50px;
  width: 80%;
}

.paraQuotesLarge{
  font-size: 28px;
}

.buttonStylingPreviousTestimonials{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-container-large-screen{
  background-color: #D9DFF1;
  padding: 10px;
  padding-top: 50px;
  font-family: "Roboto";
}
.testimonials-heading-large{
  font-size: 50px;
}

.buttonStylingNextTestimonials{
  background-color: transparent;
  border: none;
  margin-right: 25px;
  cursor: pointer;
}

.testimonialImageLarge{
  border-radius: 16px;
  height: 225px;
  width: 150px;
}

.testimonials-title-large{
  font-size: 26px;
}
.paraQuotesLarge{
  text-align: left;
  line-height: 1.8;
  margin-top: 25px;
}