.cards-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-app-container {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  width: 90%;
  justify-content: center;
  margin: auto;
}

.card-image {
  max-width: 50%;
  height: auto;
  order: 0;
}

.image {
  height: 402px;
}

.card-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .card-description-container {
    gap: 15px;
  }
}

.card-description-heading {
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: start;
}

@media screen and (max-width: 992px) {
  .card-description-heading {
    font-size: 18px;
  }
}

.card-description {
  color: #000;
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .card-description {
    font-size: 14px;
    line-height: 1.5;
  }
}

/* Targeting the first container */
.card-app-container:nth-child(1) {
  flex-direction: row;
  /* CSS styles for the first container */
}

/* Targeting the second container */
.card-app-container:nth-child(2) {
  flex-direction: row-reverse;
  /* CSS styles for the second container */
}

/* Targeting the third container */
.card-app-container:nth-child(3) {
  flex-direction: row;
  /* CSS styles for the third container */
}

/* Targeting the fourth container */
.card-app-container:nth-child(4) {
  flex-direction: row-reverse;
  /* CSS styles for the fourth container */
}

/* Targeting the fifth container */
.card-app-container:nth-child(5) {
  flex-direction: row;
  /* CSS styles for the fifth container */
}

/* Add more nth-child selectors as needed */

.school-education-images {
  width: 100%;
}

/* @media screen and (max-width: 992px) {
  .school-education-images {
    max-width: 100%;
    height: auto;
  }
} */
